* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.books-title {
    font-size: 26px;
}

.books-quiz {
    width: 50%;
    font-style: italic;
    margin: 5px auto;
}